@charset "utf-8";

  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Staatliches&display=swap');

:root {
	/* paleta de cores */
	--lightred: #f64348;
	--red: #f3282e;
	--black01: #1d1d1d;
	--black02: #1f1f1f;
	--gray: #343434;
	--lightgray: #898989;
	--white: #e5e5e5;
	
	/* fontes */
	--fonte-p: 'Josefin Sans', sans-serif;
	--fonte-h: 'Staatliches', cursive;
}

/* Corpo em geral */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	background: var(--black02) no-repeat;
	color: var(--white);
	font-family: var(--fonte-p);
	text-align: center;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%; /* Garante 100% da altura */
    display: flex;
    flex-direction: column;
	
	body {
		display: flex;
		flex-direction: column;
	}
	
}

#content {
	flex: 1;
}


/* Cabeçalho */

header {
	background-color: var(--black01);
	padding: 10px;
	text-align: center;
}

header > h1 {
	color: var(--white);
	font-size: 1.4em;
	font-weight: normal;
	font-weight: bold;
	margin-top: 10px;
}

header > p {
	color: var(--lightgray);
	font-size: 14px;
}

main {
	flex: 1;
}


#anim {
	animation: navGradient 8s ease-in-out infinite alternate;
	background: linear-gradient(90deg, var(--lightred), var(--white));
	background-size: 300% 300%;
	padding: 3px;
}

/* Conteúdo */

#container {
	margin-top: 30px;
}

#aviso {
	color: var(--lightgray);
	font-size: 12px;
	margin: 0 10px 10px 10px;
}

/* Input e Button */

#arrow {
	animation: arrow 1s ease infinite alternate;
	display: block;
	margin: auto;
}

input {
  animation: animacao-borda 4s ease-in-out infinite alternate;
	background: none;
	color: var(--lightgray);
	font-family: var(--fonte-p);
	text-align: center;
	outline: none;
	width: 161px;
	padding: 7px;
	margin: 10px 20px 5px 20px;
	border: 2px solid var(--lightred);
	border-radius: 10px 0 10px 0;
}

button {
	background-color: var(--lightred);
	color: var(--white);
	font-family: var(--fonte-p);
	font-weight: bolder;
	margin: auto;
	display: block;
	border: none;
	border-radius: 10px 0 10px 0;
	padding: 7px;
}

button:active {
	background-color: var(--white);
	color: var(--lightred);
}

/* Resultado */





h2 {
	margin-top: 50px;
	font-size: 1.3em;
	color: var(--lightgray);
}

#caixa {
	
	margin: 0 40px 0 40px;
	height: 104px;
}

#caixa li:last-child {
	border: transparent;
}

#caixa2 {
	height: 97px;
	margin: 0 40px 0 40px;
}

#periodo {
	animation: fundo 4s ease-in-out infinite alternate;
	background-color: var(--lightred);
	display: flex;
	margin-top: 10px;
  width: 100%;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

#tempo {
	animation: fundo 4s ease-in-out infinite alternate;
	background-color: var(--lightred);
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

.material-symbols-outlined {
	display: inline-block;
}

.res {
	height: 93px;
}

li {
	list-style-type: none;
	margin-top: 3px;
	padding: 8px;
	border-bottom: 1px solid var(--lightgray);
}

footer {
	
		background-color: var(--gray);
		color: var(--lightred);
		text-align: center;
		padding: 10px;
		margin-top: auto; /* Empurra o footer para o final */
}

/* Animações */

@keyframes navGradient {
	0% {
		background-position: 0% 50%;
	}
	
	50% {
		background-position: 100% 50%;
	}
	
	100% {
		background-position: 0% 50%;
	}
}

@keyframes arrow {
	0% {
		transform: translateY(12px);
	}
}

@keyframes animacao-borda {
  0% {
    border-color: var(--lightred);
  }
  100% {
    border-color: var(--white);
  }
}

@keyframes fundo {
	0% {
		background-color: var(--lightred);
	}
	
	100% {
		background-color: var(--white);
		color: var(--lightred);
	}
}
